// Colores
$primary-color: beige;
$title-color: rgba(60, 17, 17, 0.575);
$text-color: gray;
$h2-bg: url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg');

// Fuentes
$main-font: 'Lucida Sans', Geneva, Verdana, sans-serif;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;
