
@use 'mixin' as m;
@use 'variables' as v;
@use 'placeholders' as p;


// scss/

// _extends.scss

// Estilos comunes para los títulos
%title-style {
  color:rgba(60, 17, 17, 0.575);
  text-align: center;
}


// _base.scss

// Reset básico
* {
  margin: 0;
}

// Fondo del body
body {
  background-color: beige;
}

// Párrafos
p {
  color: gray;
  text-align: justify;
  margin: 40px;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

// Títulos
h1 {
  @extend %title-style;
  font-size: 40px;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h2 {
  @extend %title-style;
  background-image: url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg');
  padding: 1%;
  margin: 3px;
  color: antiquewhite;
  border: 3px solid goldenrod;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h3, h5 {
  @extend %title-style;

  &.h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &.h5 {
    padding: 20px;
    font-size: 20px;
  }
}


// Estilos comunes para los títulos
%title-style {
  color: v.$title-color;
  text-align: center;
}

%flex-container {
  display: flex;
  justify-content: center;
}

// Reset básico
* {
  margin: 0;
}

// Fondo del body
body {
  background-color: v.$primary-color;
}


// Párrafos
p {
  color: v.$text-color;
  text-align: justify;
  margin: 40px;
  font-family: v.$main-font;
}

// Títulos
h1 {
  @extend %title-style;
  font-size: 40px;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h2 {
  @extend %title-style;
  background-image: url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg');
  padding: 1%;
  margin: 3px;
  color: antiquewhite;
  border: 3px solid goldenrod;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h3, h5 {
  @extend %title-style;

  &.h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &.h5 {
    padding: 20px;
    font-size: 20px;
  }
}
  .prominent{
    display: flex;
    justify-content:center;
    align-items: center;
    
    
    .imagePrincipal{
      @include m.image-style(1080px, 360px);
      
      }

      @media screen and (max-width: 1024px) {
        height: 250px;
      }
      
      @media screen and (max-width: 768px) {
        height: 200px;
      }
    }
  

.cheese2 {
  @include m.rounded-image(300px, 300px);
  margin: 0 5px;
}

.products1 {
  @include m.rounded-image(400px, 400px);
  padding: 10px;
}

.pie {
  @extend %center-flex;
  flex-direction: column;
  background-color: blanchedalmond;
  padding: 20px 40px;
  border-top: 2px solid #e2ded0;

  .social-icons {
    @extend %center-flex;
    gap: 10px;
    list-style: none;

    .icono {
      width: 30px;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
        filter: brightness(1.2);
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}


